*
{   
    margin: 0% ;
    font-family: sans-serif;
    font-size: medium;
    box-sizing: border-box;
}

#container
{
    /*  */
}

a
{
    text-decoration: none;
    color: rgb(15, 15, 131);
}

a:visited
{
    color: rgb(15, 15, 131);
}

a:hover{
    color:red
}

#heading
{
    background-color: #FFFDD0;
}

#header
{
    line-height: 250%;
    font-size: 189%;
    color: rgb(15, 15, 131);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding-left: 0%;
}

#fst_menu
{
    display: block;
    float: right;
    padding-right: 10%;
    line-height: 480%;
}

#logo
{
    display: flex;
    float: left;
    width: 8%; 
    height: 7%;
    padding-left: 2%;
}

        /* site-map section begins */

#sitemap_text
{
    text-align: center;
    line-height: 500%;
    padding-left: 15%;
    padding-right: 15%;
}

#sitemap_map
{
   margin-left: 23%;
}

        /* site-map section ends */

        /* Properties section begins */

#properties
{
    margin-left: 13%;
    margin-right: 13%;
    color: black;
}



#property_image
{
    width: 37%;
    margin-left: 1%;
    
}

h1{
    font-size: 35px;
}

#property_discription
{
    margin-left: 43%;
    margin-top: -26%;
    margin-right: 2%;    
}

        /* Property Section ends */

       /* Footer Section Begins */

#end_box
{
    border: 1px #FFFDD0 solid;
    background-color: #FFFDD0;
    width: auto;
    height: fit-content;
}

#footer_banner
{
    width: 100%;  
}

#footer_menu
{
    text-align: center;
    padding-top: 2%;
}

#follow_us
{
    text-align: center;
    font-size: 110%;
    padding-top: 5%;
}



